.project, .project2 {
    background-color: #f5ecec75;
    margin: 100px;
    display: flex;
    user-select: none;
}

.project {
    flex-direction: row;
}

.project2 {
    flex-direction: row-reverse;
}

.projectimage{
    width: 62%;
}

.projectimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projectdetails {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.projectarrow {
    margin-left: 15px;
}

.projectinfo.linkie2:hover + .projectarrow {
    transform: translateX(5px);
    transition: 0.2s;
}

.projectarrow:not(:hover) {
    transition: 0.2s;
}


.italic {
    font-style: italic;
    font-weight: 300;
    color: #303030;
}

.projectinformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 5%;
    margin-left: 15px;
    margin-right: 15px;
}

.moreinfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.projecttitle{
    font-size: 75px;
    font-family: 'apparel-regularit';
    font-style: italic;
    font-weight: 300;
    color: #303030;
    margin-top: 0px;
    text-align: center;
}

.projectinfo{
    font-size: 16px;
    font-family: "oakesgrotesk-light";
    font-weight: 300;
    margin-bottom: -0px;
    line-height: 20px;
}

.gradient, .gradient2 {
    background: linear-gradient(to right, #F4537A, #50A4F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#magicPointer{
    background-color: #303030 !important;
    z-index: 9999;
}

 #magicMouseCursor{
   border: 1px solid #303030 !important;
   z-index: 9999;
}

.pagetitle {
    position: relative;
    font-family: 'apparel-regularit';
    font-style: italic;
    font-weight: 300;
    color: #303030;
    user-select: none;
    font-size: clamp(16px, 10vw, 128px);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

.pagetext, .pagetext2 {
    z-index: 10;
    font-family: "oakesgrotesk-light";
    user-select: none;
    margin-right: 200px;
    margin-left: 200px;
    font-size: clamp(16px, 1vw, 128px);
    margin-bottom: 50px;
    text-align: center;
}

.pagetext2 {
    margin-top: 50px;
}

#pageimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

.button {
    color:#303030;
    font-family: "oakesgrotesk-light";
    font-size: clamp(16px, 1vw, 128px);
    text-decoration: none;
    border: 1px solid #303030;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    background-color: transparent;
}

.button:hover {
    background: #303030;
    color: #f5ecec;
    font-size: 18px;
    transition: 0.2s;
}

.button:not(:hover) {
    transition: 0.2s;
}

.aboutbutton {
    margin-left: 75px;
}

#button {
    background-color: transparent;
    border: none;
}

#goback {
    width: 26px;
    height: 24px;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 100;
    position: fixed;
}

#goback:hover {
    transform: scale(1.9);
    transition: 0.2s;
    background: linear-gradient(to bottom right, #f4537b8b, #50a3f18b);
    border-radius: 100%;
    cursor: none;
    padding: 5px;

}

#goback:not(:hover) {
    transition: 0.2s;
    cursor: none;
}

.visuals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.visual {
    width: 20%;
    height: 100%;
}

.visual img {
    width: 100%;
    height: 100%;
}

.visuals2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.visual2 {
    margin: 0px 150px 0px 150px;
}

.visual img, .visual2 {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

#ohsyn2, #ohsyn3 {
    margin-top: 150px;
}

#way2art2 {
    margin-top: 150px;
}

@media screen and (max-width: 1500px) {
    .visuals2 {
        gap: 0px;
    }

    #way2art2, #ohsyn2, #ohsyn3 {
        margin-top: 35px;
    }

    .pagetext, .pagetext2 {
        margin-left: 100px;
        margin-right: 100px;
    }
  }

  @media screen and (max-width: 1000px) {
    .gradient2 {
        background: none; 
        -webkit-background-clip: initial; 
        background-clip: initial; 
        -webkit-text-fill-color: inherit; 
        font-weight: 300;
      }

      .project, .project2 {
        justify-content: space-evenly;
      }

  }