.projecttitle{
    font-size: 128px;
    font-family: "sunshine-Italic";
    font-style: italic;
    font-weight: 300;
    color: #303030;
}

.projectnumber{
    font-size: 350px;
    font-family: "oakes grotesk light";
    font-style: italic;
    font-weight: 300;
    color: #303030;
}

.projecttitle{
    font-size: 128px;
    font-family: "sunshine-Italic";
    font-style: italic;
    font-weight: 300;
    color: #303030;
}