body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  /*background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 376 376' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.04' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  background-image: url(./foto.png);
}

#pause {
  top: 0;
  right: 0;
  gap: 50px;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 100;
  position: fixed;
}

.ellipse {
  -webkit-backdrop-filter: blur(3px) brightness(100%);
  backdrop-filter: blur(3px) brightness(100%);
  background-color: #e0d8d808;
  border-radius: 132.5px;
  height: 60%;
  position: absolute;
  width: 35%;
  z-index: 20;
}

#section {
  height: 100vh;
}

#intro {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 15;
}

#title {
  position: relative;
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
}

#blob {
  position: absolute;
  right: -50%;
  width: 150%;
  user-select: none;
  -webkit-user-drag: none;
}

#ellipse-1 {
  right: -15%;
  bottom: 20%;
}

#ellipse-2 {
  left: -20%;
}

#side-text1,
#side-text2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #303030;
  user-select: none;
  transform: rotate(-90deg);
  /*position: absolute;*/
  display: none;
}

#socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  gap: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 100;
}

.social {
  width: 30px;
  height: 28px;
  display: inline-block;
  -webkit-user-drag: none;
}

.social2 {
  width: 30px;
  height: 25px;
  display: inline-block;
}

.social:hover {
  transform: scale(1.1);
}

/*#side-text1 {
    top: 56%;
    left: -25%;
}

#side-text2 {
    top: 56%;
    left: -30%;
}
*/

#about {
  margin-top: 250px;
  height: fit-content;
  width: fit-content;

}

#img1 {
  height: 26%;
  width: 26%;
  user-select: none;
  -webkit-user-drag: none;
  margin-left: 350px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  color: #303030;
  user-select: none;
  margin-left: 150px;
  font-weight: 200;
  position: absolute;
  top: 125%;
  left: 32%;
}

.text1, .sunshine{
  font-size: 28px;
  line-height: 28px;
  color: #303030;
}

.text1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 145%;
  left: 50%;
  width: 565px;
  user-select: none;
}

#line {
  position: absolute;
  top: 134%;
  left: 68%;
  width: 220px;
  height: 1px;
  background-color: #303030;
}

.sunshine {
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
}

#studio {
  position: relative;
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
  font-size: 64px;
}

#sidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: fit-content;
  gap: 150px;
  margin-left: -25px;
  top: 30%;
}

.sideelement {
  transform: rotate(-90deg);
}

.link {
  text-decoration: none;
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.sideelement img {
  margin-bottom: -5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 25px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
}