/* fonts */

@font-face {
  font-family: 'apparel-regularit';
  src: url('./fonts/apparel-regularit-webfont.woff2') format('woff2'),
       url('./fonts/apparel-regularit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oakesgrotesk-light';
  src: url('./fonts/oakesgrotesk-light-webfont.woff2') format('woff2'),
       url('./fonts/oakesgrotesk-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* css reset + basic stuff */

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #F5ECEC;
  margin: 0;
  padding: 0;
  /*background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 376 376' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.04' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  background-image: url(./images/foto.png);
  overflow-x: hidden;
  cursor: none;
}

a, button {
  cursor: none !important;
}

section {
  height: 100vh;
  position: relative;
}

article {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

/* intro */

#pause, #play, #playButton {
  top: 0;
  right: 0;
  gap: 50px;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 100;
  position: fixed;
  background-color: transparent;
  border: none;
}

.ellipse {
  -webkit-backdrop-filter: blur(3px) brightness(100%);
  backdrop-filter: blur(3px) brightness(100%);
  background-color: #e0d8d808;
  border-radius: 132.5px;
  height: 60%;
  position: absolute;
  width: 35%;
  z-index: 20;
}

#intro {
  display: flex;
  align-items: center;
  user-select: none;
  z-index: 15;
}

#title {
  position: relative;
  font-family: 'apparel-regularit';
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
}

#blob, #blob1, #blob2 {
  position: absolute;
  right: -50%;
  width: 150%;
  user-select: none;
  -webkit-user-drag: none;
  z-index: -100;
}

#blob1 {
  width: 100%;
  top: -65%;
  right: -15%;
}

#blob2 {
  width: 55%;
  right: 40%;
}

#ellipse-1 {
  right: -15%;
  bottom: 20%;
  animation: bounce1 30s infinite ease-in-out;
}

#ellipse-2 {
  left: -20%;
  animation: bounce2 25s infinite ease-in-out;
}

@keyframes bounce2 {
  0% {
    transform: translateX(0);
    transform: translateY(-50px);
  }
  25% {
    transform: translateX(500px);
  
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(-50px);
  }
}

@keyframes bounce1 {
  0% {
    transform: translateX(0);
    transform: translateY(100px);
  }
  25% {
    transform: translateX(-600px);
  
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(100px);
  }
}

@keyframes bounceY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

/* footer */

#socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  gap: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1000;
  cursor: none;
}

.social1 {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-user-drag: none;
  cursor: none;
}

.social2 {
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: none;
}

.social3 {
  width: 20px;
  height: 20px;
}

.social1:hover, .social2:hover, .social3:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background: linear-gradient(to bottom right, #f4537b8b, #50a3f18b);
  border-radius: 50%;
  cursor: none;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
}

.social1:not(:hover), .social2:not(:hover), .social3:not(:hover) {
  transition: 0.2s;
  cursor: none;
}

.social1:hover {
  width: 32px;
  height: 32px;
}

.social2:hover {
  width: 32px;
  height: 32px;
}

.social3:hover {
  width: 30px;
  height: 30px;
}

/* about me */

#aboutme-title {
  display: flex;
  left: -120px;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  position: relative;
  height: 100px;
}

#about {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#img1 {
  height: 500px;
}

h2 {
  font-family: "oakesgrotesk-light";
  position: absolute;
  font-size: 64px;
  color: #303030;
  user-select: none;
  white-space: nowrap;
  font-weight: lighter;
}

.text1, .sunshine{
  line-height: 28px;
  color: #303030;
}

.text1 {
  z-index: 10;
  font-family: "oakesgrotesk-light";
  user-select: none;
  font-size: 24px;
  width: 620px;
  margin-bottom: 50px;
}

#line {
  margin-left: 600px;
  width: 160px;
  height: 1px;
  background-color: #303030;
  border: 0px;
  margin-top: 25px
}

.sunshine {
  font-family: 'apparel-regularit';
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  margin-right: 5px;
}

#studio {
  position: relative;
  font-family: 'apparel-regularit';
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
  font-size: 68px;
}

/* sidebar */

#sidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: fit-content;
  gap: 150px;
  margin-left: -35px;
  top: 30%;
  z-index: 100;
}

.sideelement {
  transform: rotate(-90deg);
}

#top {
  position: fixed;
  opacity: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: #303030;
  font-family: "oakesgrotesk-light";
  font-size: 16px;
  cursor: none;
  text-decoration: none;
  margin: 20px;
}

#top.active {
  transform: translateY(0);
  opacity: 1;
}

#top img {
  margin-left: 5px;
}

.link {
  text-decoration: none;
  color: #303030;
  font-family: "oakesgrotesk-light";
  font-size: 24px;
  cursor: none;
  border: 2px solid transparent;
}

.link::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #303030;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 1s cubic-bezier(0.215, 0.61, 0.355, 1), width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.link:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #303030;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}

.sideelement img {
  margin-bottom: -5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.active{
  transform: translateY(0);
  opacity: 1;
}

.active::after{
  width: 0%;
  height: 2px;
  display: block;
  background: linear-gradient(to bottom right, #f4537b8b, #50a3f18b);
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 1s cubic-bezier(0.215, 0.61, 0.355, 1), width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background: linear-gradient(to right, #f4537b, #50a3f1);
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 25px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 25px;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;

}

/* contact page */

#contactpage {
  padding-top: 250px;
}

#contacttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactinfo {
  z-index: 10;
  font-family: "oakesgrotesk-light";
  user-select: none;
  font-size: 24px;
  margin-top: -60px;
  margin-left: -350px
}

#contactinfo a {
  text-decoration: none;
  color: #303030;
}

.icon {
  margin-right: 35px;
  margin-top: 35px;
}

#contact {
  position: relative;
  font-family: "oakesgrotesk-light";
  font-size: 64px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contact2 {
  font-family: "oakesgrotesk-light";
  font-size: 64px;
  margin-top: -80px
}

#contactleft {
  display: flex;
}

#sunshine {
  font-family: 'apparel-regularit';
  font-style: italic;
  font-weight: 300;
  font-size: 68px;
}

.text3 {
  z-index: 10;
  font-family: "oakesgrotesk-light";
  user-select: none;
  font-size: 24px;
  max-width: 800px;
  line-height: 30px;
  color: #303030;
  margin-bottom: 50px;
}

.sunshine2 {
  font-family: 'apparel-regularit';
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #303030;
  margin-right: 5px;
}

.linkie {
  background:
    linear-gradient(
      to right,
      #f5f5f500,
      #f5f5f500
    ),
    linear-gradient(
      to  right,
      #f5f5f59a,
      #f5f5f59a
  );
  text-decoration: none;
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.linkie2 {
  color: #303030;
  text-decoration: none;
}

.linkie:hover, .linkie2:hover {
  background-size: 0 3px, 100% 3px;
  cursor: none;
}

/* page loader */

.animation{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #F5ECEC;
  overflow: hidden;
  z-index: 10000;
  width: 100%;
}

/* 404 */

#errortitle {
  font-family: "oakesgrotesk-light";
  font-size: 60px;
  color: #303030;
  margin-bottom: 0px;
}

#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

#mainerror {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#blob4 {
  position: absolute;
  width: 800px;
  top: 10%;
  left: 20%;
  z-index: -100;
}

/* mobile */

@media screen and (max-width: 1500px) {
  #contact {
    gap: 200px;
  }
  #about {
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    transform: scale(1);
  }

  .aboutbutton {
    margin-left: 185px !important;
  }

    #blob1 {
      top: 0%;
      right: 5%;
    }

    #img1 {
      height: inherit;
      width: 400px;
    }

    #aboutme-title {
      left: inherit;
    }

    .text1 {
      margin: auto;
      margin-bottom: 35px;
      font-size: 20px;
    }
  .project .projectimage {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .project2 .projectimage {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .projectinformation {
    justify-content: inherit;
    margin: auto;
    z-index: 10000;
  }

  .text3 {
    font-size: 20px;
    max-width: 650px;
  }

  #contact {
    font-size: 20px;
  }

  .sunshine2 {
    font-size: 26px;
  }

  #contactinfo {
    font-size: 20px;
}
  .icon {
    transform: scale(0.9);
    margin-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  #about {
    transform: scale(0.8);
  }

  body .project {
    margin-left: 0px;
    margin-right: 0px;
  }
  body .project2 {
    margin-left: 0px;
    margin-right: 0px;
  }

  #project .projectinformation {
    width: 100%;
  }

  #project .projectdetails {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 700px) {
  #line {
    display: none;
  }

  #socials {
    transform: scale(0.9);
  }
  #about {
    transform: scale(0.5);
  }

  #contact {
    transform: scale(0.8);
  }

  aside {
    display: none;
  }

  .projectinformation .projecttitle {
    font-size: 40px;
  }
}