@font-face {
  font-family: oakes grotesk regular;
  src: url(./fonts/Oakes\ Grotesk\ Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: oakes grotesk light;
  src: url(./fonts/Oakes\ Grotesk\ Light.ttf.ttf);
  font-weight: 400;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  /*background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 376 376' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.04' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  background-image: url(./foto.png);
  overflow-x: hidden;
  cursor: url('cursor.svg'), auto;
}

.cursor {
  pointer-events: none;
  
  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
    
    circle {
      fill: #f7f8fa;
    }
  }      
} 

.left, .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  background: #fff;
}

#pause {
  top: 0;
  right: 0;
  gap: 50px;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 100;
  position: fixed;
}

.ellipse {
  -webkit-backdrop-filter: blur(3px) brightness(100%);
  backdrop-filter: blur(3px) brightness(100%);
  background-color: #e0d8d808;
  border-radius: 132.5px;
  height: 60%;
  position: absolute;
  width: 35%;
  z-index: 20;
}

section {
  height: 100vh;
  position: relative;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro {
  display: flex;
  align-items: center;
  user-select: none;
  z-index: 15;
}

#title {
  position: relative;
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
}

#blob, #blob1, #blob2 {
  position: absolute;
  right: -50%;
  width: 150%;
  user-select: none;
  -webkit-user-drag: none;
  z-index: -100;
}

#blob1 {
  width: 100%;
  top: -30%;
  right: -20%;
}

#blob2 {
  width: 120%;
  top: -60%;
  right: 0%;
}

#ellipse-1 {
  right: -15%;
  bottom: 20%;
}

#ellipse-2 {
  left: -20%;
}

#side-text1,
#side-text2 {
  font-family: oakes grotesk light;
  font-size: 36px;
  font-weight: 400;
  color: #303030;
  user-select: none;
  transform: rotate(-90deg);
  /*position: absolute;*/
  display: none;
}

#socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  gap: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1000;
  cursor: url('cursor.svg'), pointer;
}

.social {
  width: 30px;
  height: 28px;
  display: inline-block;
  -webkit-user-drag: none;
  cursor: url('cursor.svg'), pointer;
}

.social2 {
  width: 30px;
  height: 25px;
  display: inline-block;
  cursor: url('cursor.svg'), pointer;
}

.social:hover, .social2:hover {
  transform: scale(1.1);
  cursor: url('cursor.svg'), pointer;
}

/*#side-text1 {
    top: 56%;
    left: -25%;
}

#side-text2 {
    top: 56%;
    left: -30%;
}
*/

#about {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#about div {
  display: flex;
  flex-direction: column;
}

#img1 {
  height: 500px;
}

h2 {
  font-family: oakes grotesk;
  left: -120px;
  position: absolute;
  font-size: 64px;
  color: #303030;
  user-select: none;
  white-space: nowrap;
  font-weight: lighter;
}

.text1, .sunshine{
  line-height: 28px;
  color: #303030;
}

.text1 {
  z-index: 10;
  font-family: oakes grotesk light;
  user-select: none;
  font-size: 24px;
  width: 620px;
}

@media screen and (max-width: 1500px) {
  #about {
    flex-direction: column;
    align-items: center;

    #blob {
      top: 50%;
    }

    #img1 {
      height: inherit;
      width: 400px;
    }
  }
}

#line {
  left: 440px;
  position: absolute;
  width: 160px;
  height: 1px;
  background-color: #303030;
}

.sunshine {
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
}

#studio {
  position: relative;
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  color: #303030;
  z-index: 10;
  user-select: none;
  font-size: clamp(16px, 10vw, 128px);
  white-space: nowrap;
  font-size: 68px;
}

#sidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: fit-content;
  gap: 150px;
  margin-left: -25px;
  top: 30%;
  z-index: 100;
}

.sideelement {
  transform: rotate(-90deg);
}

.link {
  text-decoration: none;
  color: #303030;
  font-family: oakes grotesk light;
  font-size: 24px;
  cursor: url('cursor.svg'), pointer;

}

.link:hover {
  cursor: url('cursor.svg'), pointer;
}

.sideelement img {
  margin-bottom: -5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  cursor: url('cursor.svg'), auto;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 25px;
  cursor: url('cursor.svg'), auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 25px;
  cursor: url('cursor.svg'), auto;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
  cursor: url('cursor.svg'), auto;
}

.project {
  width: 100vw;
  height: 100vh;

  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#besimplified {
  background-image: url(./besimplified.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#virtunes {
  background-image: url(./virtunes.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#way2art {
  background-image: url(./way2art.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ugc {
  background-image: url(./ugc.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100vh;
  width: 100vw;
}

#contactpage {
}

#contacttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -350px;
  margin-top: -20px;
}

#contactinfo {
  z-index: 10;
  font-family: oakes grotesk light;
  user-select: none;
  font-size: 24px;
  max-width: 800px;
  margin-left: 500px;
  margin-top: 35px;
  
}

#contactinfo a {
  text-decoration: none;
  color: #303030;
  cursor: url('cursor.svg'), pointer;
}

.icon {
  margin-right: 35px;
  margin-top: 35px;
}

#line2 {
  position: absolute;
  width: 230px;
  height: 1px;
  background-color: #303030;
  margin-top: -160px;
  margin-left: 520px;
}

#contact {
  position: relative;
  font-family: oakes grotesk light;
  font-size: 64px;
  margin-bottom: 0px;
  margin-left: -50px;
}

#sunshine {
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  font-size: 68px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

#text3 {
  z-index: 10;
  font-family: oakes grotesk light;
  user-select: none;
  font-size: 24px;
  max-width: 800px;
  line-height: 30px;
}

.sunshine2 {
  font-family: "sunshine-Italic";
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}
